{% extends 'base.html' %}
{% load static %}


{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block 'titulo' %}
Detalhes
{% endblock %}

{% block 'body' %}

    <div class="container mt-3 pt-4 pb-4">
        <div class="d-flex justify-content-center">

            <form action="{% url 'vote' question.id %}" method="post">
                {% csrf_token %}

                <h1>{{ question.question_text }}</h1>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}

                {% for choice in choices %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}

                <button class="btn btn-success mt-2" type="submit">Votar</button>
            </form>
        </div>
    </div>

{% endblock %}
