<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<body>

    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}

        <a href="{% url 'index' %}">Início</a>
        <fieldset>
            <legend>
                <h1>{{ question.question_text }}</h1>
            </legend>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for choice in choices %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br>
        </fieldset>
        <br>
        <button type="submit">Votar</button>
    </form>

</body>

</html>